In [1]:
import pandas as pd
import pandas as pd
import re
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# Html of Mars website
martian_news_url = 'https://mars.nasa.gov/news/'
martian_news_html = requests.get(martian_news_url)

In [3]:
# Parse with BeautifulSoup
martian_soup = BeautifulSoup(martian_news_html.text, 'html.parser')

In [4]:
# Print body of html
# print(mars_soup.body.prettify())

In [5]:
# Find article titles
article_titles = martian_soup.find_all('div', class_='content_title')
article_titles

[<div class="content_title">
 <a href="/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/">
 NASA's Opportunity Rover Mission on Mars Comes to End
 </a>
 </div>, <div class="content_title">
 <a href="/news/8402/nasas-insight-places-first-instrument-on-mars/">
 NASA's InSight Places First Instrument on Mars
 </a>
 </div>, <div class="content_title">
 <a href="/news/8387/nasa-announces-landing-site-for-mars-2020-rover/">
 NASA Announces Landing Site for Mars 2020 Rover
 </a>
 </div>, <div class="content_title">
 <a href="/news/8348/opportunity-hunkers-down-during-dust-storm/">
 Opportunity Hunkers Down During Dust Storm
 </a>
 </div>, <div class="content_title">
 <a href="/news/8347/nasa-finds-ancient-organic-material-mysterious-methane-on-mars/">
 NASA Finds Ancient Organic Material, Mysterious Methane on Mars
 </a>
 </div>, <div class="content_title">
 <a href="/news/8326/nasa-invests-in-visionary-technology/">
 NASA Invests in Visionary Technology
 </a>
 </div>]

In [6]:
# Loop to get article titles
for article in article_titles:
    title = article.find('a')
    title_text = title.text
    print(title_text)

NASA's Opportunity Rover Mission on Mars Comes to End


NASA's InSight Places First Instrument on Mars


NASA Announces Landing Site for Mars 2020 Rover


Opportunity Hunkers Down During Dust Storm


NASA Finds Ancient Organic Material, Mysterious Methane on Mars


NASA Invests in Visionary Technology

In [7]:
# Find paragraph text
paragraphs = martian_soup.find_all('div', class_='rollover_description')
paragraphs

[<div class="rollover_description">
 <div class="rollover_description_inner">
 NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>, <div class="rollover_description">
 <div class="rollover_description_inner">
 In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>, <div class="rollover_description">
 <div class="rollover_description_inner">
 After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>, <div class="rollover_description">
 <div class="rollover_description_inner">
 It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>, <div class="rollover_description">
 <div class="rollover_description_inner">
 NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>, <div class="rollover_description">
 <div class="rollover_description_inner">
 NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>]

In [8]:
# Loop through paragraph texts
for paragraph in paragraphs:
    p_text = paragraph.find('div')
    news_p = p_text.text
    print(news_p)

NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.


In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.


After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.


It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.


NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.


NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

In [9]:
# Browser of Mars space images
martian_images_browser = Browser('chrome', headless=False)
nasa_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
martian_images_browser.visit(nasa_url)

In [10]:
# Parse with BeautifulSoup
martian_images_html = martian_images_browser.html
nasa_soup = BeautifulSoup(martian_images_html, 'html.parser')

In [11]:
# Print body of html
# print(nasa_soup.body.prettify())

In [12]:
# Find image link with BeautifulSoup
images = nasa_soup.find_all('div', class_='carousel_items')
images

[<div class="carousel_items">
 <article alt="Painted Lines on an Ornament" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA17175-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
 <h2 class="category_title">
 </h2>
 <h2 class="brand_title">
 				  FEATURED IMAGE
 				</h2>
 <h1 class="media_feature_title">
 				  Painted Lines on an Ornament				</h1>
 <div class="description">
 </div>
 <footer>
 <a class="button fancybox" data-description="The globe of Saturn, seen here in natural color, is reminiscent of a holiday ornament in this wide-angle view from NASA's Cassini spacecraft." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA17175_ip.jpg" data-link="/spaceimages/details.php?id=PIA17175" data-title="Painted Lines on an Ornament" id="full_image">
 					FULL IMAGE
 				  </a>
 </footer>
 </div>
 <div class="gradient_container_top"></div>
 <div class="gradient_container_bottom"></div>
 </article>
 </div>]

In [13]:
# Loop through images
for nasa_image in images:
    image = nasa_image.find('article')
    background_image = image.get('style')
    # print(background_image)
    
    # extract url - match anything after (.)
    re_background_image = re.search("'(.+?)'", background_image)
    # print(re_background_image)
    
    # Convert to string
    search_background_image = re_background_image.group(1)
    # print(search_background_image)
    
    featured_image_url = f'https://www.jpl.nasa/gov{search_background_image}'
    print(featured_image_url)

https://www.jpl.nasa/gov/spaceimages/images/wallpaper/PIA17175-1920x1200.jpg

In [14]:
# Weather tweets with splinter
twitter_browser = Browser('chrome', headless=False)
twitter_url = 'https://twitter.com/marswxreport?lang=en'
twitter_browser.visit(twitter_url)

In [15]:
# Parse with BeautifulSoup
twitter_html = twitter_browser.html
twitter_soup = BeautifulSoup(twitter_html, 'html.parser')

In [16]:
# Print body of html
# print(twitter_soup.body.prettify())

In [17]:
# Weather tweets with BeautifulSoup
martian_weather_tweets = twitter_soup.find_all('p', class_='TweetTextSize')
martian_weather_tweets

[<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2317 (2019-02-11), high -16C/3F, low -73C/-99F, pressure at 8.12 hPa, daylight 06:46-18:52<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/D15lfEs6RN">pic.twitter.com/D15lfEs6RN</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2316 (2019-02-10), high -14C/6F, low -72C/-97F, pressure at 8.14 hPa, daylight 06:47-18:52</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">While the Sun has set on <a class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" href="/hashtag/Opportunity?src=hash"><s>#</s><b>Opportunity</b></a>, the MER program lives on in mountains of data scientists will be making new discoveries from for decades.

 We asked 90 Sols and 1km, she gave us 5110 Sols and 45km. So long Oppy, and thanks for all the data.

 MER-B EOM<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/33obWOXbNx">pic.twitter.com/33obWOXbNx</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="4" lang="en">Join NASA at 2pm ET tomorrow for results of attempts to contact Oppy.

 <a class="twitter-timeline-link" data-expanded-url="https://www.nasa.gov/press-release/nasa-to-share-results-of-effort-to-recover-mars-opportunity-rover/" dir="ltr" href="https://t.co/K3TkA5PGU2" rel="nofollow noopener" target="_blank" title="https://www.nasa.gov/press-release/nasa-to-share-results-of-effort-to-recover-mars-opportunity-rover/"><span class="tco-ellipsis"></span><span class="invisible">https://www.</span><span class="js-display-url">nasa.gov/press-release/</span><span class="invisible">nasa-to-share-results-of-effort-to-recover-mars-opportunity-rover/</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-expanded-url="https://twitter.com/planetarykeri/status/1095469660017840128" dir="ltr" href="https://t.co/1NnqMDLu0n" rel="nofollow noopener" target="_blank" title="https://twitter.com/planetarykeri/status/1095469660017840128"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">twitter.com/planetarykeri/</span><span class="invisible">status/1095469660017840128</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2315 (2019-02-09), high -17C/1F, low -71C/-95F, pressure at 8.13 hPa, daylight 06:47-18:52<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/xnGU2i98WB">pic.twitter.com/xnGU2i98WB</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2314 (2019-02-08), high -16C/3F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2313 (2019-02-07), high -14C/6F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">2019-01-28 through 02-03 via MRO/Marci
 • dust storms north of Alba Patera
 • lee wave clouds near Tempe Terra &amp; Deuteronilus Mensae
 • H2O ice clouds over Arsia Mons
 • dust haze hides Valles Marineris floor
 • seasonally high dust over Opportunity, Curioisty, &amp; Insight<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/awlKHfgac2">pic.twitter.com/awlKHfgac2</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2312 (2019-02-06), high -13C/8F, low -72C/-97F, pressure at 8.13 hPa, daylight 06:47-18:53<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/QpQemcmmJW">pic.twitter.com/QpQemcmmJW</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2311 (2019-02-05), high -11C/12F, low -73C/-99F, pressure at 8.12 hPa, daylight 06:47-18:53</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2310 (2019-02-04), high -6C/21F, low -75C/-102F, pressure at 8.15 hPa, daylight 06:47-18:53<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/oRYhGR1P9C">pic.twitter.com/oRYhGR1P9C</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2309 (2019-02-03), high -16C/3F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Happy National Weatherpersons Day to all my meteorologist friends.  Stay classy Gale Crater. <a class="twitter-timeline-link" data-expanded-url="https://en.wikipedia.org/wiki/National_Weatherperson%27s_Day" dir="ltr" href="https://t.co/Ok29fj9Qf4" rel="nofollow noopener" target="_blank" title="https://en.wikipedia.org/wiki/National_Weatherperson%27s_Day"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">en.wikipedia.org/wiki/National_</span><span class="invisible">Weatherperson%27s_Day</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/IifCvlawci">pic.twitter.com/IifCvlawci</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2308 (2019-02-02), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/slAaFVIn0T">pic.twitter.com/slAaFVIn0T</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2307 (2019-02-01), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2306 (2019-01-31), high -12C/10F, low -70C/-93F, pressure at 8.13 hPa, daylight 06:47-18:54</p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">We’ve got wide receivers.

 Our Deep Space Network’s dishes span up to 70 meters across and allow us to talk with spacecraft across the solar system: <a class="twitter-timeline-link" data-expanded-url="https://go.nasa.gov/2Ej08Yg" dir="ltr" href="https://t.co/T6kKokKHH6" rel="nofollow noopener" target="_blank" title="https://go.nasa.gov/2Ej08Yg"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">go.nasa.gov/2Ej08Yg</span><span class="invisible"></span><span class="tco-ellipsis"><span class="invisible"> </span></span></a> <a class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" href="/hashtag/SuperBowl?src=hash"><s>#</s><b>SuperBowl</b></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/qUX5vsYnga">pic.twitter.com/qUX5vsYnga</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">I’ve done it -- carefully placed this protective cover over my seismometer. Shielding it from wind and temperature changes will help it get its best measurements of any <a class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" href="/hashtag/marsquakes?src=hash"><s>#</s><b>marsquakes</b></a>. Stay cozy in there, little guy!<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/6ZcqJPBqKj">pic.twitter.com/6ZcqJPBqKj</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2305 (2019-01-30), high -4C/24F, low -73C/-99F, pressure at 8.14 hPa, daylight 06:47-18:54<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/OTkUTDyRpu">pic.twitter.com/OTkUTDyRpu</a></p>,
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2304 (2019-01-29), high -6C/21F, low -73C/-99F, pressure at 8.14 hPa, daylight 06:47-18:54</p>]

In [18]:
# Tweets that begin with 'Sol' 
weather_text = 'Sol '

for tweet in martian_weather_tweets:
    if weather_text in tweet.text:
        martian_weather = tweet.text
        print(tweet.text)

Sol 2317 (2019-02-11), high -16C/3F, low -73C/-99F, pressure at 8.12 hPa, daylight 06:46-18:52pic.twitter.com/D15lfEs6RN
Sol 2316 (2019-02-10), high -14C/6F, low -72C/-97F, pressure at 8.14 hPa, daylight 06:47-18:52
Sol 2315 (2019-02-09), high -17C/1F, low -71C/-95F, pressure at 8.13 hPa, daylight 06:47-18:52pic.twitter.com/xnGU2i98WB
Sol 2314 (2019-02-08), high -16C/3F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53
Sol 2313 (2019-02-07), high -14C/6F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53
Sol 2312 (2019-02-06), high -13C/8F, low -72C/-97F, pressure at 8.13 hPa, daylight 06:47-18:53pic.twitter.com/QpQemcmmJW
Sol 2311 (2019-02-05), high -11C/12F, low -73C/-99F, pressure at 8.12 hPa, daylight 06:47-18:53
Sol 2310 (2019-02-04), high -6C/21F, low -75C/-102F, pressure at 8.15 hPa, daylight 06:47-18:53pic.twitter.com/oRYhGR1P9C
Sol 2309 (2019-02-03), high -16C/3F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:53
Sol 2308 (2019-02-02), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54pic.twitter.com/slAaFVIn0T
Sol 2307 (2019-02-01), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54
Sol 2306 (2019-01-31), high -12C/10F, low -70C/-93F, pressure at 8.13 hPa, daylight 06:47-18:54
Sol 2305 (2019-01-30), high -4C/24F, low -73C/-99F, pressure at 8.14 hPa, daylight 06:47-18:54pic.twitter.com/OTkUTDyRpu
Sol 2304 (2019-01-29), high -6C/21F, low -73C/-99F, pressure at 8.14 hPa, daylight 06:47-18:54

In [19]:
# Url to Mars facts website
martian_facts_url = 'https://space-facts.com/mars/'

In [20]:
# Table from url
martian_facts_table = pd.read_html(martian_facts_url)
martian_facts_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
# Select table
martian_facts = martian_facts_table[0]

# Switch columns and rows
martian_facts_df = martian_facts.transpose()
martian_facts_df

,0,1,2,3,4,5,6,7,8
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.42 x 10^23 kg (10.7% Earth),2 (Phobos & Deimos),"227,943,824 km (1.52 AU)",687 days (1.9 years),-153 to 20 °C,2nd millennium BC,Egyptian astronomers

In [22]:
# Rename columns
martian_facts_df.columns = [
    'Equatorial diameter',
    'Polar diameter',
    'Mass',
    'Moons',
    'Orbit distance',
    'Orbit period',
    'Surface temperature',
    'First record',
    'Recorded by'
]

martian_facts_df

,Equatorial diameter,Polar diameter,Mass,Moons,Orbit distance,Orbit period,Surface temperature,First record,Recorded by
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.42 x 10^23 kg (10.7% Earth),2 (Phobos & Deimos),"227,943,824 km (1.52 AU)",687 days (1.9 years),-153 to 20 °C,2nd millennium BC,Egyptian astronomers

In [23]:
# Remove first row
clean_martian_facts_df = martian_facts_df.iloc[1:]
clean_martian_facts_df

,Equatorial diameter,Polar diameter,Mass,Moons,Orbit distance,Orbit period,Surface temperature,First record,Recorded by
1,"6,792 km","6,752 km",6.42 x 10^23 kg (10.7% Earth),2 (Phobos & Deimos),"227,943,824 km (1.52 AU)",687 days (1.9 years),-153 to 20 °C,2nd millennium BC,Egyptian astronomers

In [24]:
# Print dataframe in html format
martian_facts_html_table = clean_martian_facts_df.to_html()
print(martian_facts_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Equatorial diameter</th>
      <th>Polar diameter</th>
      <th>Mass</th>
      <th>Moons</th>
      <th>Orbit distance</th>
      <th>Orbit period</th>
      <th>Surface temperature</th>
      <th>First record</th>
      <th>Recorded by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>6,792 km</td>
      <td>6,752 km</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
      <td>2 (Phobos &amp; Deimos)</td>
      <td>227,943,824 km (1.52 AU)</td>
      <td>687 days (1.9 years)</td>
      <td>-153 to 20 °C</td>
      <td>2nd millennium BC</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [25]:
# Use splinter to get image and title links of each hemisphere
usgs_browser = Browser('chrome', headless=False)
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
usgs_browser.visit(usgs_url)

In [26]:
# Parse with BeautifulSoup
martian_hemispheres_html = usgs_browser.html
martian_hemispheres_soup = BeautifulSoup(martian_hemispheres_html, 'html.parser')

In [27]:
# Print body of html
# print(mars_hemispheres_soup.body.prettify())

In [28]:
# Hemisphere image link and title
martian_hemispheres = martian_hemispheres_soup.find_all('div', class_='description')
martian_hemispheres

[<div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div>]

In [29]:
# List of dictionaries 
hemisphere_image_urls = []

# Loop 
for image in martian_hemispheres:
    hemisphere_url = image.find('a', class_='itemLink')
    hemisphere = hemisphere_url.get('href')
    hemisphere_link = 'https://astrogeology.usgs.gov' + hemisphere
    print(hemisphere_link)

    # Visit each link that you just found (hemisphere_link)
    usgs_browser.visit(hemisphere_link)
    
    # Create dictionary 
    hemisphere_image_dict = {}
    
    # Parse html again
    martian_hemispheres_html = usgs_browser.html
    martian_hemispheres_soup = BeautifulSoup(martian_hemispheres_html, 'html.parser')
    
    # Get image link
    hemisphere_link = martian_hemispheres_soup.find('a', text='Original').get('href')
    
    # Get title text
    hemisphere_title = martian_hemispheres_soup.find('h2', class_='title').text.replace(' Enhanced', '')
    
    # Append title and image urls of hemisphere to dictionary
    hemisphere_image_dict['title'] = hemisphere_title
    hemisphere_image_dict['img_url'] = hemisphere_link
    
    # Append dictionaries to list
    hemisphere_image_urls.append(hemisphere_image_dict)

print(hemisphere_image_urls)

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced
[{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]

In [30]:
# Convert this jupyter notebook file to a python script called 'scrape_mars.py'
! jupyter nbconvert --to script --template basic mission_to_mars.ipynb --output scrape_mars

[NbConvertApp] Converting notebook mission_to_mars.ipynb to script
[NbConvertApp] Writing 6345 bytes to scrape_mars.py

In [31]:
# Create root/index route to query mongoDB and pass mars data to HTML template to display data
# @app.route('/')
# def index():
    # marsdata = db.marsdata.find_one()
    # return render_template('index.html', marsdata=marsdata)

In [32]:
# Create route called /scrape
# @app.route('/scrape')
# def scrape():
    # data = scrape_mars()
    # marsdata = db.marsdata.insert_many(data)
    # db.marsdata.update({}, data, upsert=True)
    # return "Scraping successful!"

In [33]:
# if __name__ == '__main__':
    # app.run(debug=True)
    # scrape_mars()